<br/>
<h2>Listing users</h2><br/>

<table>
<tr>
<th>Name</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @users.each do |user| %>
<tr><h2>
<td><%= user.username %></td>
<td><%= link_to 'Edit', edit_user_path(user) %></td>
<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?',
:method => :delete %></td><//h2>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New User', new_user_path %>

<%= link_to 'dash board', admin_path %>




