<script type=text/javascript>
function validate(){
var remember = document.getElementById('remember');
  if (remember.checked){
  $("#order_name").val($("#order_username").text());
  $("#order_email_id").val($("#order_email").text());
  }else{
  $("#order_name").val("");
  $("#order_email_id").val("");
}
}
</script>


<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
</br>
<input  id ="remember" name="existing_value" type="checkbox" onclick="validate()" >Use the registration details <br/></br>
<div>
<%= f.label :name, "Name:" %>
<%= f.text_field :name, :size => 40 %>
</div>

<div>
<%= f.label :name, "E-Mail ID:" %>
<%= f.text_field :email_id, :size => 40 %>
</div>

<div>
<%= f.label :address, "Address:" %>
<%= f.text_area :address, :rows => 3, :cols => 40 %>
</div>

<div>
<%= f.label :pay_type, "Pay with:" %>
<%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => "Select a payment method" %>
</div><br/>

<%= f.submit "Place Order" %>
<% end %>
<p id="order_email"  style="display: none;"><%= @user.email_id%></p>
<p id="order_username"  style="display: none;"><%= @user.username%></p>



