<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Store</title>
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "templatemo_style" , :media => "all" %>
<%= stylesheet_link_tag "style" , :media => "all" %>

<%= javascript_include_tag :application %>
<%= csrf_meta_tag %>

<link rel="shortcut icon" type="image/x-icon"  href="http://www.cricbuzz.com/images/cric_ball.ico?1" />
</head>

<body>
<div id="templatemo_wrapper" background="/assets/Online-Shop-Malta.jpg">
<div id= "search" align="right">
 <%= form_tag :controller => 'store', :action => 'search', :method => 'post' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
     <%#= link_to_function "Clear", "$('search_field').clear()" %>
 <% end %> 

</div>
    <!-- end of templatemo_header -->
    
       <div id="templatemo_header" >
    	<div id="templatemo_special_offers">
        	
        </div>
        
        
        <div id="templatemo_new_books">
        	<ul>
        
        </div>
    </div> <br/>
    <div id="templatemo_menu">
    	<ul>
           <ul>
      <li> <a href="http://example.loc" class="current">Home</a></li>
<%if session[:user_id].present? %> 
<li><%= link_to 'Profile', {:controller=>'users', :action => 'update', :id => session[:user_id]} %></li>
<li><%= link_to 'Logout', {:controller=>'sessions', :action => 'destroy', :id => session[:user_id]} -%></li>
<% else %>
<li><a href="/login">Login</a></li>
<% end %>
       
        </ul>   
    	</ul>
    </div> 
    

    <div id="templatemo_content">
        	</br>
          </br>
<h2>

		<div id="sidebar1" >
<h2>
Product Types
</h2><br/>
</br>
<%= link_to 'Sports',  category_products_path(:id => "1") %><br/>

<br/>
<%= link_to 'Computer', category_products_path(:id => "2")  %><br/></br>
<%= link_to 'Mobile',  category_products_path(:id => "3") %><br/><br/>


<%= link_to 'Laptop',  category_products_path(:id => "4") %><br/>

</br>
<%= link_to 'Electronic Appliance',  category_products_path(:id => "6") %><br/>

</br>
<%= link_to 'Watch',  category_products_path(:id => "5") %></br>

<br/>
</div>		
	<div id="right">

			<div class="items">
<%= yield %>
</h2>
</div>
</div>
</div>
            
                           
            	
            </div>
         

         
         <div class="content_section">
        
    		       <div class="cleaner"></div>
            
        
         </div>
         
    </div> <!-- end of templatemo_content -->
    
    <div id="templatemo_footer">

        <ul class="footer_menu">
            <li><a href="index.html">Home</a></li>
           
        </ul>
    
      Copyright © 2048 <a href="#">RailsFactory</a> | 
        <a href="http://www.iwebsitetemplate.com" target="_parent">Lots of fun</a> by <a href="http://www.templatemo.com" target="_parent">Nithesh</a></div> 
    <!-- end of footer -->

</div> <!-- end of templatemo_wrapper -->
</body>
</html>








